:root{
    --color:rgba(0,0,0,0.3);
}
@font-face {
    font-family: 'Nexa Bold';
    src: url('../src/fonts/Nexa\ Bold.otf');
}

@font-face {
    font-family: 'Nexa Light';
    src: url('../src/fonts/Nexa\ Light.otf');
}

* {
    font-family: "Nexa Light";
}

label::before {
    content:"";
    width:90%;
    height: 100%;
    left:2dvw;
    position: absolute;
    border-bottom:rgba(0,0,0,0.1) solid 1px;
}
span.radio::before {
    content:"";
    position: absolute;
    height: 0.7dvw;
    width:0.7dvw;
    border-radius: 50%;
    background-color: var(--color);
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0) ;
    display:block;
    transition: 300ms ease-in-out 0s;
}
input[type="radio"]:checked ~ span.radio::before {
    transform: translate(-50%, -50%) scale(1);
}
#scrollPanel {
    height:calc(100% - 100px);
}
  
.timer {
      margin-top: 10px;
}
    
.timer > svg {
    width: 30px;
    height: 30px;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #0d6efd;
    stroke-width: 5;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
}
.img {
    margin: -100px 0 50px;
    width:100%;
}